.btn{
    border: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 8px;
    background-color: aquamarine;
}

.btn:hover{
    background-color: teal;
    transition: ease 1s;
}